<div class="container container-padding about-drawer-content content"

     [@fadeInAnimation]="">

  <div fxFlex="100%">

    <h2 class="page-title-section">About</h2>

    <div class="row">
      <mat-card class="lg-padding">
        <div class="image-cropper">
          <img alt="Vincent Galeano" class="vg_img" src="../assets/vincent_galeano.jpeg">
        </div>

        <div class="intro">
          <p>I am a Software Engineer with over seven years of professional experience. In addition to providing front-end & back-end web applications,</p>
          <p>I have also provided UI/UX design to clients across multiple markets. I strongly believe that user experience is paramount and that content is a key element in crafting effective solutions.</p>
          <p>I strongly believe that user experience is paramount and that content is a key element in crafting effective solutions.</p>
        <a mat-raised-button secondary href="https://www.linkedin.com/in/vincent-galeano/" class="view-more">
          LinkedIn
        </a>
        </div>
      </mat-card>

    </div>
  </div>
</div>
