.view-more {
  padding: 8px 20px;
  background: #029BE5;
  color: white;
}

.image-cropper {
  border: 5px solid white;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 3px 3px -2px rgb(0 0 0 / 12%);
  border-radius: 50%;
  width: 170px;
  height: 170px;
  position: relative;
  overflow: hidden;
  margin: 0 auto 20px auto;
}

.image-cropper img {
  display: inline;
  margin: 0 -60px;
  height: 100%;
  width: auto;
}


.about-drawer-content {
  background-size: 100% 200%;
  min-height: 100vh;
}
.achievement-item {
  background: #FFFFFF;
  width: 211px;
  height: 211px;
  min-width: 211px;
  min-height: 211px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.web-item {
  background: #FFFFFF;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6%;
  margin-top: 6%;
}

.achievement-item img {
  max-width: 172px;
}

@media (max-width: 990px){
  .achievement-item {
    width: 120px;
    height: 120px;
    min-width:120px;
    min-height:120px;
  }

  .web-item {
    width: 120px;
    height: 120px;
  }

  .achievement-item img,
  .web-item img{
    max-width: 100px;
  }
}


