<mat-sidenav-container fullscreen>


  <mat-toolbar class="secondary top-nav">


    <button mat-icon-button class="nav-icon icon-hover" [ngClass]="{'active-icon': toggle}" (click)="toggleSide()">
      <mat-icon *ngIf="!toggle">menu</mat-icon>
      <mat-icon *ngIf="toggle">close</mat-icon>
    </button>


    <button style="margin: 1em;" mat-icon-button class="logo-button ease-motion"
            [ngClass]="{'mat-elevation-z2': logoHover}"
            (mouseover)="logoHover = true"
            (mouseout)="logoHover = false"
            routerLink="home">
      <img class="vg_button" src="../assets/vincent_galeano_2018.svg">
    </button>


    <span style="flex: 1 1 auto;"></span>


    <button mat-icon-button [matMenuTriggerFor]="menu" class="icon-hover">
      <mat-icon>apps</mat-icon>
    </button>


    <mat-menu class="vg-menu" #menu>

      <div fxFlex="100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">

        <div fxFlex fxLayoutAlign="space-evenly center">
          <a target="_blank" href="https://www.linkedin.com/in/vincent-galeano/"><img class="dropdown-item-vg"
                                                                                      src="../assets/linkedin-box.svg"></a>
          <a target="_blank" href="https://www.shutterstock.com/g/Galeano"><img class="dropdown-item-vg"
                                                                                src="../assets/shutterstock-icon.svg"></a>
        </div>


      </div>


    </mat-menu>


  </mat-toolbar>


  <mat-drawer-container [hasBackdrop]="false">


    <mat-drawer
      (mouseover)="hoverToggleSide()" (mouseleave)="hoverToggleSideLeave()"
      [ngClass]="{'toggle-side': toggle || hoverToggle, 'toggle-side-small': !toggle || !hoverToggle, 'mat-elevation-z8': toggle || hoverToggle}"
      #drawer
      mode="side" opened>


      <mat-nav-list class="fade-animation">


        <a mat-list-item routerLinkActive="activeNavLink" routerLink="/home">
          <mat-icon class="nav-icon" style="padding: 8px;">home</mat-icon>
          <span [hidden]="!toggle && !hoverToggle" class="ease-motion nav-links fade-animation">Home</span>
        </a>


        <!--<a mat-list-item routerLink="/media/web-development"-->
           <!--[ngClass]="{'activeNavLink': router.url === '/media/web-development' || router.url ===  '/media/graphic-design'}">-->
          <!--<mat-icon class="nav-icon" style="padding: 8px;">sd_storage</mat-icon>-->
          <!--<span [hidden]="!toggle && !hoverToggle" class="ease-motion nav-links fade-animation">Media</span>-->
        <!--</a>-->

        <a mat-list-item routerLinkActive="activeNavLink" routerLink="/media/web-development">
        <mat-icon class="nav-icon" style="padding: 8px;">code_braces</mat-icon>
        <span [hidden]="!toggle && !hoverToggle" class="ease-motion nav-links fade-animation">Web Development</span>
        </a>

        <a mat-list-item routerLinkActive="activeNavLink" routerLink="/media/graphic-design">
        <mat-icon class="nav-icon" style="padding: 8px;">color_lens</mat-icon>
        <span [hidden]="!toggle && !hoverToggle" class="ease-motion nav-links fade-animation">Graphic Design</span>
        </a>


        <!--<mat-nav-list class="subNav fade-animation" [ngClass]="{'subNavExpand': toggle || hoverToggle}"-->
                      <!--*ngIf="(router.url === '/media/web-development' || router.url ===  '/media/graphic-design') && (toggle || hoverToggle)">-->
          <!--<a mat-list-item class="sub-nav-link" routerLinkActive="activeNavLink" routerLink="/media/web-development">-->
            <!--&lt;!&ndash;<mat-icon class="nav-icon" style="padding: 8px;">sd_storage</mat-icon>&ndash;&gt;-->
            <!--<span [hidden]="!toggle && !hoverToggle" class="nav-links">Web Development</span>-->
          <!--</a>-->
          <!--<a mat-list-item class="sub-nav-link" routerLinkActive="activeNavLink" routerLink="/media/graphic-design">-->
            <!--&lt;!&ndash;<mat-icon class="nav-icon" style="padding: 8px;">sd_storage</mat-icon>&ndash;&gt;-->
            <!--<span [hidden]="!toggle && !hoverToggle" class="nav-links">Graphic Design</span>-->
          <!--</a>-->
        <!--</mat-nav-list>-->


        <a mat-list-item routerLinkActive="activeNavLink" routerLink="/about">
          <mat-icon class="nav-icon" style="padding: 8px;">info</mat-icon>
          <span [hidden]="!toggle && !hoverToggle" class="ease-motion nav-links fade-animation">About</span>
        </a>


      </mat-nav-list>


    </mat-drawer>

    <mat-drawer-content  [ngClass]="{'home-bg': router.url === '/home', 'home-about': router.url !== '/home', 'margin-body': toggle && !mobile}">

      <router-outlet></router-outlet>

      <div class="copyright">
        <p>Copyright © 2022 Vincent Galeano. All rights reserved.</p>
      </div>


    </mat-drawer-content>
  </mat-drawer-container>


</mat-sidenav-container>
